entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "node dist/index.js"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Build and Start"

[[workflows.workflow]]
name = "Run"
author = 33380737
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build"
mode = "sequential"
author = 33380737

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Start"
mode = "sequential"
author = 33380737

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Build and Start"
author = 33380737
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[ports]]
localPort = 3000
externalPort = 80
